.DrawerToggle {
    width: 40px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.DrawerToggle div {
    width: 70%;
    height: 2px;
    margin: 2px 0;
    background-color: black;
}

@media (min-width: 500px) {
    .DrawerToggle {
        display: none;
    }
}