.Hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: space-around;
    padding: 20px;
}

.main {
    display: flex;
    flex-direction: column;
}

.capitol {
    width: 25%;
    height: auto;
    padding-bottom: 10%;
    align-self: center;
}

.CTAs {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.CTA {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%
}

@media (min-width: 768px) {
    .Hero {
        flex-direction: row;
    }

    .main {
        padding: 0px 40px;
    }

    .capitol {
        width: 10%;
        padding-bottom: 0;
        align-self: center;
        
    }
}