.CallIn {
    margin: 20px auto;
    padding: 0 10px 0 10px;
    max-width: 1000px;
}

.Loading {
    text-align: center;
    background: rgba(0,0,0,0.05);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
}

.InstructionsSubSection {
    padding: 0 10px 0 10px;
}

.HeadShot {
    padding: 0 10px;
}

.HeadShot img {
    max-height: 220px;
}

.Offices ul p {
    margin-bottom: 0;
}

.Block {
    margin-bottom: 10px;
}

/* .Block h2 {
    margin-bottom: 0;
    font-size: 1.4em;
} */

/* .Explanation {
    font-style: italic;
    font-size: 0.9em;
} */

p {
    color: black;
}

/* .TPSubHeading {
    font-size: 1.2em;
} */