.SideDrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #f8f8f8;
    border-right: 1px solid gainsboro;
    z-index: 200;
    padding: 32px 32px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

@media(min-width: 500px) {
    .SideDrawer {
        display: none;
    }
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

.SideDrawer .Logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}