.ThankYou {
    margin: 20px 10px;
}

.Heading {
    text-align: center;
    margin: 20px auto;
    font-weight: normal;
}

.StatsHero {
    height: 220px;
    object-fit: cover;
    object-position: 50% 20%;
}


.StatCol {
    height: 120px
}

@media (min-width: 576px) and (max-width: 992px) { 
    .StatCol {
        height: 175px
    } 
}

@media (min-width: 992px) {
    .StatCol {
        height: 150px
    }
}

.Card {
    margin-bottom: 10px;
}